emergency:2,award:1000,amount:5
emergency:3,award:1500,amount:5
emergency:4,award:1500,amount:7
emergency:5,award:1500,amount:10
emergency:6,award:2000,amount:5
emergency:7,award:1000,amount:5
emergency:8,award:2000,amount:5
emergency:9,award:1000,amount:5
emergency:10,award:1000,amount:5
emergency:12,award:1500,amount:5
emergency:15,award:1000,amount:8
emergency:20,award:2000,amount:3